<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php echo $this->doctype(); ?>
<!--[if IE 9]>
<html class="ie9" lang="en" ng-app="vnecomsSetup"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="vnecomsSetup">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{$state.current.title}}</title>
    <?php echo $this->headLink()
        ->appendStylesheet($this->basePath() . '/pub/materialize/css/materialize.min.css')
        ->appendStylesheet($this->basePath() . '/pub/styles/setup.css');
    ?>
    <?php echo $this->headScript()
        ->appendFile($this->basePath() . '/pub/jquery/jquery.min.js')
        ->appendFile($this->basePath() . '/pub/angular/angular.min.js')
        ->appendFile($this->basePath() . '/pub/angular-ng-storage/angular-ng-storage.min.js')
        ->appendFile($this->basePath() . '/pub/angular-ng-dialog/angular-ng-dialog.min.js')
        ->appendFile($this->basePath() . '/pub/angular-clickout/angular-clickout.min.js')
        ->appendFile($this->basePath() . '/pub/angular-ui-router/angular-ui-router.min.js')
        ->appendFile($this->basePath() . '/pub/angular-ui-bootstrap/angular-ui-bootstrap.min.js')
        ->appendFile($this->basePath() . '/pub/angular-sanitize/angular-sanitize.min.js')
        ->appendFile($this->basePath() . '/pub/materialize/js/materialize.min.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/app.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/main.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/landing.js')
       // ->appendFile($this->basePath() . '/pub/vnecoms/setup/component-grid.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/readiness-check.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/web-configuration.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/customize-your-store.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/create-admin-account.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/install.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/success.js')
       // ->appendFile($this->basePath() . '/pub/vnecoms/setup/create-backup.js')
       // ->appendFile($this->basePath() . '/pub/vnecoms/setup/complete-backup.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/data-option.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/start-updater.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/updater-success.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/select-version.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/home.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/auth-dialog.js')
        ->appendFile($this->basePath() . '/pub/vnecoms/setup/system-config.js')
       // ->appendFile($this->basePath() . '/pub/vnecoms/setup/install-extension-grid.js');
    ?>
    <link
        rel="icon"
        type="image/x-icon"
        href="<?php echo $this->basePath() ?>/pub/images/favicon/favicon.ico"
        sizes="16x16">
    <link
        rel="icon"
        type="image/png"
        href="<?php echo $this->basePath() ?>/pub/images/favicon/favicon-96x96.png"
        sizes="96x96">
    <link
        rel="icon"
        type="image/png"
        href="<?php echo $this->basePath() ?>/pub/images/favicon/favicon-32x32.png"
        sizes="32x32">
    <link
        rel="icon"
        type="image/png"
        href="<?php echo $this->basePath() ?>/pub/images/favicon/favicon-16x16.png"
        sizes="16x16">
    <?php echo $this->inlineScript() ?>
    <style>
        a.white-space-pre-line {
            white-space: pre-line;
        }
    </style>
</head>
<body>
<?php echo $this->content; ?>
</body>
</html>
